<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jac3sukjdrxzi-func-crewtaskmgrauthsvcs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/acc26051-92a5-4ed1-a226-64a187bc27db/resourcegroups/rg_CrewTaskMgr/providers/Microsoft.Web/sites/jac3sukjdrxzi-func-CrewTaskMgrAuthSvcs</ResourceId>
    <UserName>$jac3sukjdrxzi-func-CrewTaskMgrAuthSvcs</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://jac3sukjdrxzi-func-crewtaskmgrauthsvcs.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>